.lead__title {
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}


@media (max-width: 760px) {
  .lead__title {
    /* max-width: 288px; */
    font-size: 40px;
    line-height: 44px;
    /* margin-left: 16px;
    margin-right: 16px; */
    padding-left: 16px;
    padding-right: 16px;
  }

}

