.place__paragraph {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }
  
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 1024px) {
    .place__paragraph  {
      margin-bottom: 27px;
    }
  }

  @media (max-width: 800px) {
    .place__paragraph {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  @media (max-width: 425px) {
    .place__paragraph {
      margin: 0 16px 22px;
      /* margin-bottom: 0; */
    }
  }