.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  text-decoration: none;
}

.cover__overlay:before {
    content: "";
    display: block;
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .3s ease-in-out;
}


.cover__overlay:hover::before {
  opacity: 0.8;
}