.footer {
    display: flex;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 24px;
    justify-content: space-between;
    /* padding: 24px 48px; */
  }

  @media (max-width: 1020px) {
    .footer {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  @media (max-width: 800px) {
    .footer {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media (max-width: 760px) {
    .footer {
      flex-direction: column;
      padding-left: 16px;
    }
  }